{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans 'Contact' %}
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="static/images/logo.png" class="bi mt-4 mb-3" width="100" height="100">
   <h1 class="text-body-emphasis">{% trans 'Contact' %}</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
  <ul class="list-group">
             <li class="list-group-item">
                 Email: <a href="mailto:quill@craftsman.lol">quill@craftsman.lol</a>
             </li>
             <li class="list-group-item">
                 Website: <a href="https://findsimilar.org">findsimilar.org</a>
             </li>
             <li class="list-group-item">
                 Github: <a target="_blank" href="https://github.com/findsimilar">findsimilar</a>
             </li>
        </ul>
    </p>
  </div>
{% endblock %}
