{% extends "base.html" %}
{% block title %}
    Contact
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="static/images/logo.png" class="bi mt-4 mb-3" width="100" height="100">
    <h1 class="text-body-emphasis">Development status</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      find-similar package already available no pypi
    </p>
  </div>

<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Done</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
    <ul class="list-group">
             <li class="list-group-item">
                 You can use find-similar to compare any text sentences
             </li>
             <li class="list-group-item">
                 You can use find-similar library to analyze algorithm prediction
             </li>
             <li class="list-group-item">
                 <a href="https://github.com/findsimilar/find-similar/releases" target="_blank">Check Releases page</a>
             </li>

        </ul>
    </p>
  </div>

<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Plans and current tasks</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
    <ul class="list-group">
             <li class="list-group-item">
                 Adding weights to algorithms
             </li>
             <li class="list-group-item">
                 Trying new approaches like neural network
             </li>
        </ul>
    </p>
  </div>
{% endblock %}
