{% extends "base.html" %}
{% load i18n %}
{% block title %}
    FindSimilar
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="static/images/logo.png" class="bi mt-4 mb-3" width="100" height="100">
    <h1 class="text-body-emphasis">{% trans 'Welcome to FindSimilar!' %}</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      {% trans 'User-friendly library to find similar objects' %}
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="https://github.com/findsimilar/find-similar" target="_blank">Project on GitHub</a>
    </div>
  </div>

<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Mission Statement</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      The mission of the "FindSimilar" project is to provide a powerful and versatile open source library that empowers developers to efficiently find similar objects and perform comparisons across a variety of data types. Whether dealing with texts, images, audio, or more, our project aims to simplify the process of identifying similarities and enhancing decision-making.
    </p>
  </div>

<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Key Objectives</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        <div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-4">
      <h3>Extensibility</h3>
      <p>We strive to build a flexible framework that goes beyond textual comparisons, with plans to expand compatibility to various data formats, including images, audio, and more.</p>
    </div>

    <div class="col-lg-4">
      <h3>Ease of Integration</h3>
      <p>
          Our library will offer an intuitive interface that integrates seamlessly into existing applications and workflows, making it accessible to developers regardless of their experience level.
      </p>
    </div>

    <div class="col-lg-4">
      <h3>Scalability</h3>
      <p>
          Our focus is on creating efficient algorithms and data structures that can handle datasets of varying sizes, ensuring performance and accuracy as the project scales.
      </p>
   </div>

          <div class="col-lg-4">
      <h3>Community Collaboration</h3>
      <p>
          By embracing the principles of open source development, we invite a diverse community of contributors to collaborate, improve, and innovate upon the project, fostering a culture of shared knowledge and expertise.
      </p>
   </div>

          <div class="col-lg-4">
      <h3>Documentation and Education</h3>
      <p>
          We are committed to providing comprehensive documentation, tutorials, and resources to help users and contributors understand the library's capabilities and use them effectively.
      </p>
   </div>
      <div class="col-lg-4">
      <h3>Privacy and Ethics</h3>
      <p>
          As we expand into various data types, we are dedicated to upholding privacy and ethical considerations, ensuring that our library is built and used responsibly.
      </p>
   </div>


  </div>
</div>
    </p>
  </div>

<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Join Us</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      We invite developers, data scientists, and enthusiasts from all backgrounds to join our mission. Together, we can shape the future of "Find Similar," creating a powerful tool that enhances decision-making, discovery, and innovation across diverse fields.
    </p>
  </div>

<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Get Started</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Explore our <a href="https://github.com/findsimilar/find-similar/" target="_blank">GitHub repository</a>, engage with the community on our forums, and join us in building a more connected and informed world through the "Find Similar" project.
    </p>
  </div>

<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Open Source Collaboration</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      "FindSimilar" is an open source project, fostering collaboration and innovation. We welcome contributors from all backgrounds to join us in shaping the future of similarity comparisons across various data types.
    </p>
  </div>
<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Features</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
         <ul class="list-group">
             <li class="list-group-item">
                 Find similar text sentences
             </li>
             <li class="list-group-item">
                 Compare one text sentence with many
             </li>
             <li class="list-group-item">
                 Sort similar texts by match percentage
             </li>
            <li class="list-group-item">
                 Research laboratory with scripts to improve main algorithms
             </li>
        </ul>
    </p>
  </div>
<div class="text-center bg-body-tertiary rounded-3">
    <h2 class="text-body-emphasis">Requirements</h2>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
          <ul class="list-group">
            <li class="list-group-item">
                 python >= 3.9
             </li>
             <li class="list-group-item">
                 nltk, pymorphy2
             </li>
         </ul>
    </p>
  </div>
{% endblock %}
